<div class="card text-dark bg-light m-5">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4>{{title}}</h4>
    <p class="m-0">Posted by {{user_id}} on {{createdAt}}</p>
  </div>
  <div class="card-body">
    {{!-- <h5 class="card-title">Special title treatment</h5> --}}
    <p class="card-text">{{body}}</p>
  </div>
</div>