<div class="card text-dark bg-light m-5">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4>Sign Up</h4>
    </div>

    <div class="card-body">
    {{> form "Sign Up" }}
    <a class="dropdown-item" href="/login">Have an account? Log in</a>
    </div>

</div>